#title, #description{
  text-align: center;
  padding: 10px;
}

#chart {
  margin-top: -50px;
}

.cell {
  transition: fill 0.3s, stroke 0.3s, opacity 0.3s;
}

.cell:hover {
  stroke: black; 
  stroke-width: 2; 
}

#tooltip {
  color: white;
  position: absolute;
  background-color: #111;
  border-radius: 6px;
  padding: 7px;
  pointer-events: none;
  display: none;
  box-shadow: 0 0 5px 2px;
  opacity: 0.8;
  z-index: 1000;
  text-align: center;
}